

root { 
    display: block;
}


*{
  box-sizing: border-box;
}
 

.button1
{
    border-radius: 4px;
    border: none;
    color: white;  
    height: 40px;
    width: 120px; 
    background-color: orange!important;
    font: inherit;
     
}
